@import "~normalize.css";
@import "~flexboxgrid";
@import "variables";

 * {
   box-sizing: border-box;
 }

 body {
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: rgba(216, 216, 216, 0.47);
 }

 #app {
   position: relative;
   display: flex;
   align-items: stretch;
   flex-direction: row;
   min-height: 100vh;
 }

 .page-wrapper {
   flex: 1 1 100%;
 }

.wrapper {
  padding: $padding;
}

.block-content--shadow {
  box-shadow: 0px 0px 9px #c3c3c3;
  background #F9F9F9;
}

.list-items {
  margin-left: $padding;

  @media (max-width: $small-breakpoint) {
    margin: 0;
    margin-top: $padding;
  }
}

// Overrides
.row {
  margin-right: 0;
  margin-left: 0;
}

.col-sm {
  padding: 0;
}
