@import "variables";

.spot-property {
  &__id {
    color: #878787;
    font-weight: bold;
    padding: 5px;
    font-size: 0.8em;
    border: 1px solid rgba(135, 135, 135, 0.30);
  }

  &__thumb {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__price {
    position: absolute;
    bottom: 18px;
    left: 15px;
    width: 100%;
    color: $primary-font-color;
    font-weight 600;
  	font-family: $secondary-font;
    font-size: 1.6em;
    line-height: 1.4;
    text-shadow: 1px 1px 1px darken($primary-font-color, 100);
  }

  &__title {
    color: #444;
    font-weight: normal;
    font-size: 1.1em;
  }

  &__text {
    color: #999;
    font-size 0.9em;
    line-height: 1.5;
  }

  &__footer__text {
    text-align: center;
    color: #999;
    font-weight bold;
    font-size: 13px;
    text-transform: uppercase;
  }

  @media (max-width: $small-breakpoint) {
    &__text, &__id {
      display: none;
    }

    &__title {
      text-align: center;
    }

    &__price {
      text-align: center;
      left: 0;
    }

    &__footer__text {
      width: 33%;
      min-width: 33%;
      margin-bottom: 20px;
    }
  }
}
